@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #262626;
    overflow-x: hidden;
}
#body {
    --turn: 0;
    --turn-color: #be2424;
    background-image: linear-gradient(calc(var(--turn) * 90deg + 180deg), var(--turn-color), #262626, #262626);
}
#root {
    --blue: #70acf9;
    --green: #579355;
    --grey: #bcbcbc;
    --orange: #f1aa8a;
    --brown: #a68b6e;
    --red: #ff6e6e;
    --purple: #c084fc;
    background-image: radial-gradient(transparent 20%, #262626 20%, transparent 100%), radial-gradient(transparent 20%, #262626 20%, transparent 100%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    animation: 1.5s linear 0s infinite slide;
}
@keyframes slide {
    0% {
        background-position: 0 0, 15px 15px;
    }
    100% {
        background-position: 15px 15px, 30px 30px;
    }
}
#root.blue {--theme: var(--blue);}
#root.green {--theme: var(--green);}
#root.grey {--theme: var(--grey);}
#root.orange {--theme: var(--orange);}
#root.brown {--theme: var(--brown);}
#root.red {--theme: var(--red);}
#root.purple {--theme: var(--purple);}