.square {
  @apply w-14 aspect-square inline-block bg-white relative;
}

.square:not(.square-invert) {
  @apply group-odd:odd:bg-purple-400 group-even:even:bg-purple-400;
}

.square-invert {
  @apply group-even:odd:bg-purple-400 group-odd:even:bg-purple-400;
}

.valid-move::after, .castle-l::after, .castle-r::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.valid-move::after, .castle-l::after, .castle-r::after {
  background: rgba(50, 50, 50, 0.5);
}

.capture-move {
  outline: rgba(255, 0, 0, 0.5) solid 5px;
  outline-offset: -5px;
}

.check {
  background: darkred !important;
}

.col-0 { @apply !bg-red-400; }
.col-1 { @apply !bg-blue-300; }
.col-2 { @apply !bg-yellow-200; }
.col-3 { @apply !bg-green-300; }

.selected { @apply !bg-fuchsia-300 }
